.dashboard {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #0c1a2a;
  color: #fff;
  padding: 20px;
  height: 96.5vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.TP {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tp-link {
  font-size: 1.4rem;
  color: #fff;
  padding: 0.5%;
}

.status {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  width: 14%;
}

.status-item-2 {
  padding: 5px 10px;
  border-radius: 5px;
}

.status-item {
  border-radius: 5px;
  /* height: 25%; */    
  /* TODO: change height */
}

.connected {
  background-color: green; /* Green for Connected */
  font-weight: 400;
}

.not-connected {
  background-color: red; /* Red for Not Connected */
  font-weight: 400;
}

.body {
  display: flex;
  flex: 1;
  margin-top: 20px;
}

.sidebar {
  flex: 0 0 200px;
  background-color: #1c2a3a;
  padding: 20px;
  border-radius: 10px;
}

.switches {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

.switches h3 {
  font-size: larger;
}

.switch {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.switch label {
  margin-right: 10px;
}

.switch button {
  color: #fff;
  border: none;
  width: 44px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.switch-on {
  background-color: green;
}

.switch-off {
  background-color: red;
}

.line {
  height: 0.1vh;
  background-color: #0c1a2a;
  margin-bottom: 10px;
}

.screen {
  height: 150px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.metal-detection {
  /* margin-top: 10px; */
  padding-bottom: 10px;
  background-color: #1c2a3a;
  border-radius: 10px;
  text-align: center;
}

.toggle-button {
  background-color: #004a7c; /* Blue background */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 7px;
}

.toggle-button:hover {
  background-color: #006494;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.history {
  height: 75%; /* Fixed height */
  overflow-y: auto; /* Scroll if content overflows */
  background-color: #1c2a3a;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.history h3 {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: x-large;
}

.history ul {
  list-style: none;
  padding: 0;
}

.history li {
  background-color: #004a7c; /* Blue background for history items */
  padding: 10px;
  margin-bottom: 7.5px;
  border-radius: 5px;
  margin-left: 15.5px;
  margin-right: 15.5px;
}

.coordinate-form {
  padding-left: 20px;
  padding-right: 20px;
}

.coordinate-form h3 {
  margin-bottom: 20px;
  font-size: x-large;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.label-long {
  margin-left: 25px;
}

.form-group-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.form-group label {
  margin-right: 2.5px;
  font-size: large;
}

.form-group input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #0c1a2a;
  color: #fff;
}

.coordinate-form button {
  background-color: #004a7c; /* Blue background */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.coordinate-form button:hover {
  background-color: #006494;
}

.clear-history {
  background-color: #ff0000; /* Red background for clear history */
}

.clear-history:hover {
  background-color: #ff4444;
}

.status-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c2a3a;
  padding: 20px;
  border-radius: 10px;
  width: 15%;
}

.status-item {
  margin-bottom: 20px;
  background-color: #004a7c; /* Blue background for status boxes */
  padding: 10px;
  border-radius: 10px;
}

.status-item h4 {
  margin: 0 0 10px;
}

.status-item p {
  margin: 0;
  margin-top: 7px;
}
